body {
    background-color: #121212;
    color: #FFFFFF;
}

div {
    display: inline-flex;
    margin: auto;
}

.div0 {
    width: 600px;
    height: 600px;
    margin: 0 40px;
    background-color: #402424;
}

.div1 {
    width: 600px;
    height: 600px;
    background-color: #231f55;
}

#spanA {
    position: fixed;
    height: 200px;
    width: 300px;
    background-color: #165a1d;
}