body {
    background-color: #303646;
    margin: 0px;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2vw;
}

p {
    font-size: 1.5vw;
}

label{
    width: 95%;
}

.title {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
}

.nav {
    background-color: #E09B34;
    margin: 0px;
    width: 100%;
    height: 80px;
}

.stock {
    background-color: #948975;
    width: 95%;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    display: flex;
}

.item {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.stock .item {
    margin-top: 10px;
    display: block;
}

.submit {
    background-color: #E09B34;
    padding: 2px 8px;
    border-radius: 10px;
    border-style: hidden;
}

.name {
    max-width: 250px;
    width: 100%;
}

.num {
    width: 30px;
}

.comment {
    max-width: 200px;
    width: 100%;
}

.date {
    text-align: center;
    max-width: 60px;
    width: 100%;
}

.delete {
    background-color: #c72020;
    color: #ffffff;
    width: 5%;
    font-size: 1vw;
    height: auto;
    text-align: center;
    padding: 2px 8px;
    border-radius: 10px;
    border-style: hidden;
}

.shelves {
    background-color: #948975;
    margin: 20px auto;
    padding: 10px;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.fa-solid {
    font-size: 1em;
    position: relative;
    top: 2px;
}

.fa-trash-can {
    color: #c72020;
}

footer{
    text-align: center;
}

footer a {
    color: #ffffff;
}